!!!
%html
  %head
    %title Notey McNoteface
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  .header
    %header
      -if user_signed_in?
        .wrapper_new_logout
          .wrapper_left

            = link_to notes_path do
              %i.fa.fa-file-text-o.fa-1x
              Show Notes
            = link_to new_note_path do
              %i.fa.fa-plus-square-o.fa-1x
              New Note

          -# .weather
          -#   %p= @forecast
          .wrapper_right
            =link_to "Log out", destroy_user_session_path, :method => :delete
            %i.fa.fa-sign-out.fa-1x
  = yield
  %p.notice= notice
  %p.alert= alert

