!!!
%html
  %head
    %title Project 2
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  %p.notice= notice
  %p.alert= alert
  = yield
  -if user_signed_in?
    =link_to "New note", new_note_path
    -# How to do this?
    =link_to "Sign Out", new_note_path
  -else
    =link_to "Log in", new_user_session_path

