!!!
%html
  %head
    %title Plain Text Notes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  .header
    %header
      -if user_signed_in?
        .wrapper_titlebar.heading
          .wrapper_child
            = link_to notes_path do
              %i.fa.fa-file-text-o.fa-1x
                Notes
          .wrapper_child
            = link_to new_note_path do
              %i.fa.fa-plus-square-o.fa-1x
                New Note
          .wrapper_child
            = link_to destroy_user_session_path, :method => :delete do
              %i.fa.fa-sign-out.fa-1x
                Log Out
          -# .wrapper_child
          -#   = link_to edit_user_registration_path do
          -#     %i.fa.fa-sign-out.fa-1x
          -#       Settings

  = yield
  %p.notice= notice
  %p.alert= alert

